.footer {
   background-color: black;
   color: white;
   padding: 80px 0px;
   @include breakpoint-down(dw2) {
      padding: 40px 0px;
   }
   @include breakpoint-down(dw3) {
      padding: 20px 0px;
   }

   &__container {
      display: flex;
      text-align: center;
      align-items: center;
      @include breakpoint-down(dw3) {
         display: block;
      }
   }

   &__contacts {
      flex: 1 1 33.333%;
   }

   &__adress {
      flex: 1 1 33.333%;
   }

   &__backcall {
      flex: 1 1 33.333%;
   }
}

.contacts-footer {
   @include breakpoint-down(dw3) {
      margin: 0px 0px 30px 0px;
   }
   &__title {
      font-size: 25px;
      font-weight: 800;
      margin: 0px 0px 20px 0px;
      @include breakpoint-down(dw2) {
         font-size: 20px;
         margin: 0px 0px 10px 0px;
         @include breakpoint-down(dw3) {
            font-size: 18px;
         }
      }
   }

   &__text {
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin: 0px 0px 10px 0px;
      @include breakpoint-down(dw2) {
         font-size: 16px;
         margin: 0px 0px 10px 0px;
      }
      @include breakpoint-down(dw3) {
         font-size: 14px;
      }
   }

   p {
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin: 10px 0px 0px 0px;
      @include breakpoint-down(dw2) {
         font-size: 16px;
         margin: 0px 0px 10px 0px;
      }
      @include breakpoint-down(dw3) {
         font-size: 14px;
      }
   }
}
.adress-footer {
   @include breakpoint-down(dw3) {
      margin: 0px 0px 30px 0px;
   }
   &__title {
      font-size: 25px;
      font-weight: 800;
      margin: 0px 0px 20px 0px;
      @include breakpoint-down(dw2) {
         font-size: 20px;
         margin: 0px 0px 10px 0px;
         @include breakpoint-down(dw3) {
            font-size: 18px;
         }
      }
   }

   &__text {
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin: 0px 0px 10px 0px;
      @include breakpoint-down(dw2) {
         font-size: 16px;
         margin: 0px 0px 10px 0px;
         @include breakpoint-down(dw3) {
            font-size: 14px;
         }
      }
   }
   p {
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin: 10px 0px 0px 0px;
      @include breakpoint-down(dw2) {
         font-size: 16px;
         margin: 0px 0px 10px 0px;
      }
      @include breakpoint-down(dw3) {
         font-size: 14px;
      }
   }
}
.backcall {
   @include breakpoint-down(dw3) {
      margin: 0px 0px 50px 0px;
   }
   p {
      margin: 0px 0px 5px 0px;
      @include breakpoint-down(dw2) {
         font-size: 14px;
      }
      @include breakpoint-down(dw3) {
         font-size: 12px;
      }
   }
   &__title {
      font-size: 25px;
      font-weight: 800;
      margin: 0px 0px 10px 0px;
      @include breakpoint-down(dw2) {
         font-size: 18px;
         margin: 0px 0px 5px 0px;
      }
   }

   &__username {
      color: white;
   }

   &__userphone {
      color: white;
      margin: 0px 0px 20px 0px;
   }

   input {
      padding: 10px 10px;
      font-size: 14px;
      background: #ffffff;
      border: 2px solid $darkred;
      background-color: rgba(143, 144, 166, 0.32);
      margin: 0px 0px 10px 0px;
      max-width: 180px;
      @include breakpoint-down(dw2) {
         font-size: 10px;
      }
   }

   input:last-child {
      margin: 0px 0px 20px 0px;
   }

   &__button {
      padding: 5px 5px;
      font-weight: 700;
      font-size: 12px;
      max-width: 145px;
      line-height: 12px;
      @include breakpoint-down(dw2) {
         font-size: 10px;
      }
   }
}
