.header {
   display: flex;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;
   background: #FAFBFD;

   // .header__container

   &__container {
      height: 93px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .header__logo

   &__logo {
      display: flex;
      justify-content: center;
   }

   // .header__menu

   &__menu {
   }

   // .header__button

   &__button {

   }
}

.menu {

   // .menu__icon

   &__icon {
   }

   // .menu__body

   &__body {
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.14em;
      text-transform: uppercase;


   }

   // .menu__list

   &__list {      
      display: flex;
      align-items: center;
      justify-content: space-evenly;
   }

   // .menu__item

   &__item {
      text-align: center;
margin: 0px 30px 0px 0px;

   }

   // .menu__link

   &__link {
      padding-left: 10px;
      color: black;
      &:hover {
         color: $red;
      }
   }
}

.button-header {

   // .button-header__btn

   &__btn {
      font-weight: 800;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 1px;
      background-color: #4285f4;
      border-radius: 5px;
      padding: 20px 30px;
      max-width: 150px;
      height: 40px;
      border: 2px solid #4285f4;
      &:hover {
         background: #fcfdfe;
         color: #4285f4;
   }
}
}