.health {
   margin: 120px 0px 60px 0px;

   // .health__container

   &__container {
      display: flex;
      align-items: center;
   }

   // .health__info

   &__info {
      flex: 1 1 50%;
      max-width: 450px;
   }

   // .health__blue

   &__blue {
   }

   // .health__image

   &__image {
   }
}

.info-health {

   // .info-health__title

   &__title {
   font-weight: 700;
   font-size: 44px;
   line-height: 126%;
   margin: 0px 0px 20px 0px;
   }

   // .info-health__text

   &__text {
   font-weight: 400;
   font-size: 12px;
   line-height: 138.5%;
   margin: 0px 0px 30px 0px;
   color: #616161;
   }

   // .info-health__button

   &__button {
      font-weight: 800;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 1px;
      background-color: $red;
      border-radius: 5px;
      padding: 20px 30px;
      max-width: 150px;
      height: 40px;
      border: 2px solid $red;
      &:hover {
         background: #fcfdfe;
         color: $red;
   }
   }

   // .info-health__play

   &__play {

   }
}
.play-menu {      
   display: flex;


   // .play-menu__start

   &__start {
   }

   // .play-menu__info

   &__info {
   }
}
.start {

   // .start__icon

   &__icon {
   }
}
.info-play-menu {

   // .info-play-menu__title

   &__title {
   }

   // .info-play-menu__text

   &__text {
   }
}
